/*----------------------*/
/* ---    COMMON    --- */
/*----------------------*/

body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

.header,
.footer {
    background-image: url("header_background.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}

.header {
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: space-between
}

.footer {
    height: 50px;

    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 25px;

    font: 18px serif Helvetica;
    color: darkblue;

    border-top: 2px solid lightgray;
}

.logo {
    margin-left: 25px;
}

.container {
    width: 900px;
}
/*----------------------*/
/* ---     MENU     --- */
/*----------------------*/

.menu_li:hover .menu_a {
    color: royalblue;
}

.menu_a {
    font: bold 18px serif, Helvetica;
    color: darkblue;
}

.menu_li {
    list-style: none;
    margin-right: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px
}

/* --- ITEM PAGE ---*/

/* headers */
.description_header {
    font: 18px 400;
    color: black;
    background-color: #eaeaea;
}

/* text of the short description*/
.short_description {
    font-size: 18px;
    color: #707070;
    line-height: 16px;
}

/* text of the full description */
.full_description {
    font: 16px 400 sans-serif, Helvetica;
    color: #484343;
    line-height: 24px;
    text-align: left;
}

/* description div block */
.description {
    display: flex;
    flex-flow: row;
}

/* features list */
.item_features {
    font: 16px sans-serif, Helvetica;
    color: darkblue;
    list-style: square outside;
}

.item_image {
    width: 250px;
    border: 1px solid darkblue;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 20px;
}

.buy {
    font-size: 25px;
    background-color: aliceblue;
    color: darkblue;
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
}

.buy:hover {
    background-color: lightsteelblue;
}

.buy:active {
    background-color: lightblue;
}

/*----------------------*/
/* --- CONTACTS PAGE ---*/
/*----------------------*/

.text_input {
    min-height: 18px;
    min-width: 150px;
    min-height: 25px;
    text-transform: capitalize;
}

.email:focus {
    color: darkblue;
    background-color: lightblue;
}

input::placeholder {
    font: 16px sans-serif, Helvetica;
    color: lightslategrey;
}

.contacts_form {
    display: block;
    min-width: 150px;
    min-height: 25px;
    margin-top: 5px;
    font-size: 18px;
}

.full_feedback {
    min-width: 300px;
    min-height: 150px;
}

.contacts_button {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    margin-top: 5px;
}

.map {
    width: 100%;
    height: 374px;
}

/*----------------------*/
/* --- CATALOG PAGE --- */
/*----------------------*/

.catalog {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5px;
}

.catalog_element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    width: 150px;
    height: 200px;
}

.catalog_element:hover {
    outline: 1px solid darkblue;
}

.catalog_img {
    width: 150px;

}

.product_name::first-letter {
    font-size: 20px;
    color: darkblue;
}

.product_link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}


/* --- ITEM TABLE STYLE (Used for GoodsPageTemplate) --- */
.features_table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
}

.features_table td {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #f8f8f8;
    color: #333;
}

.f_text {
    font-weight: bold;
    border-color: inherit;
    vertical-align: middle;
}

.features_name {
    text-align: right;
}

.features_value {
    text-align: left;
}
