<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="container">

        <div class="slider padding-site">
            <div class="header">
                <a class="logo" href="#"><img src="img/logo.svg" alt="logo"></a>
                <ul class="menu">
                    <li><a class="menu-link menu-link-active" href="#">HOME</a></li>
                    <li><a class="menu-link" href="#">PRODUCTS</a></li>
                    <li><a class="menu-link" href="#">HISTORY</a></li>
                    <li><a class="menu-link" href="#">SHOWROOM</a></li>
                    <li><a class="menu-link" href="#">CONTACT</a></li>
                    <li><a class="menu-link" href="#"><img src="img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <div class="slider-text">
                <h4 class="slider-h4">TRENDING</h4>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-p">
                    Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt powder-coated black
                </p>
                <div class="button">Order Us<img src="img/arrow.svg" class="arrow ar-btn" alt="arrow"></div>
            </div>
            <div class="slider-pagination">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle-active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>

        <div class="featured-product">
            <div class="featured-product-links">
                <ul class="tab-controll">
                    <li><a class="tab-list-link tab-list-link-active" href="#">Featured</a></li>
                    <li><a class="tab-list-link" href="#">New</a></li>
                </ul>
                <a class="btn-ghost" href="#">
                    explore all<img src="img/arrow.svg" class="arrow explore" alt="arrow">
                </a>
            </div>
            <ul class="tab-content-menu">
                <li class="tab-content-link tab-content-active">
                    <img src="img/product-1.png" class="active-featured" alt="product">
                    <div class="featured-info">
                        <div class="round-button"><img src="img/arrow.svg" class="arrow-in-round-button" alt="arrow"></div>
                        <p class="features-selected-title">Fishnet Chair</p>
                        <p class="features-selected-description">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </li>
                <li><img src="img/product-2.png" alt="product"></li>
                <li><img src="img/product-3.png" alt="product"></li>
                <li><img src="img/product-4.png" alt="product"></li>
            </ul>
        </div>

        <div class="promo-product">
            <div class="promo-content">
                <img src="img/promo-img1.png" alt="promo-1">
                <div class="text-content padding-promo">
                    <h4 class="slider-h4-promo">EXCLUSIVE</h4>
                    <h2 class="slider-h2-promo">Fishnet Chair</h2>
                    <p class="slider-p-promo">
                        Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt
                    </p>
                    <div class="button">Order Us<img src="img/arrow.svg" class="arrow ar-btn" alt="arrow"></div>
                </div>
            </div>
            <div class="promo-content">
                <img src="img/promo-img.png" alt="promo-2">
                <div class="text-content padding-promo">
                    <h4 class="slider-h4-promo">EXCLUSIVE</h4>
                    <h2 class="slider-h2-promo">Fishnet Chair</h2>
                    <p class="slider-p-promo">
                        Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt
                    </p>
                    <div class="button">Order Us<img src="img/arrow.svg" class="arrow ar-btn" alt="arrow"></div>
                </div>
            </div>
        </div>

        <div class="trending-products">
            <div class="trending-product-links">
                <div class="trending-products-header">trending products</div>
                <a class="btn-ghost" href="#">
                    explore all
                    <img src="img/arrow.svg" class="arrow" alt="arrow">
                </a>
            </div>
            <ul class="products-list">
                <li><a href="#" class="products-list-item"><img src="img/product-11.png" alt="product"></a></li>
                <li><a href="#" class="products-list-item"><img src="img/product-21.png" alt="product"></a></li>
                <li><a href="#" class="products-list-item"><img src="img/product-31.png" alt="product"></a></li>
                <li><a href="#" class="products-list-item"><img src="img/product-41.png" alt="product"></a></li>
                <li><a href="#" class="products-list-item"><img src="img/product-5.png" alt="product"></a></li>
                <li><a href="#" class="products-list-item"><img src="img/product-6.png" alt="product"></a></li>
            </ul>
        </div>

        <div class="hot-deals padding-site">
            <div class="thumb"></div>
            <div class="slider-text">
                <h4 class="slider-hot-deal">HOT DEAL</h4>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-p">
                    Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt powder-coated black
                </p>
                <div class="button">Order Us<img src="img/arrow.svg" class="arrow ar-btn" alt="arrow"></div>
            </div>
            <div class="slider-pagination">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle-active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
    </div>
</body>

</html>
